body {
  background-color: #eeedeb;
  font-family: "Noto Serif Display", "Gotu", serif;
}

a {
  color: black;
  text-decoration:none;
}

/* header */
.navbar-nav {
  padding-left: 1rem;
}

.navbar-brand {
  font-weight: bold;
  color: #9dbc98;
  padding-top: 0.8rem;
  padding-left: 0.8rem;
}

.contactFormSection {
  padding-top: 1rem;
}

.jc {
  margin: 1.5rem;
}

.sbtn {
  padding-top: 2.5rem;
}
