body {
  background-color: #eeedeb;
  font-family: "Noto Serif Display", "Gotu", serif;
}

/* header */
.navbar-nav {
  padding-left: 1rem;
}

.navbar-brand {
  // pointer-events: none;
  font-weight: bold;
  color: #9dbc98;
  padding-top: 0.8rem;
  padding-left: 0.8rem;
}

.contactFormSection,
.formSection {
  padding-top: 3rem;
}

.passForm {
  padding-top: 2rem;
}

.checkForm {
  padding-bottom: 2rem;
}

