body {
  background-color: #eeedeb;
  font-family: "Noto Serif Display", "Gotu", serif;
}

/* header */
.navbar-nav {
  padding-left: 1rem;
}

.nav-item {
  padding-left: 3rem;
}

.navbar-brand {
  pointer-events: none;
  font-weight: bold;
  color: #9dbc98;
  padding-top: 0.8rem;
  padding-left: 0.8rem;
}

/* main content */
.promotion {
  display: flex;
  justify-content: end;

  @media screen and (max-width: 767px) {
    /*　画面サイズが767px以下を読み込む　*/
    display: none;
  }
}

.promo-text {
  padding: 5rem;
  padding-top: 12rem;
}

/* mobile only表示 */
.mobile-title {
  padding: 3rem;
  font-size: 1.8em;

  @media screen and (min-width: 768px) {
    /*　画面サイズが768px以下読み込む　*/
    display: none;
  }
}

.mobile-copycare {
  display: flex;
  width: 90%;
  margin: 0 auto;
  border-radius: 0.5em;

  @media screen and (min-width: 768px) {
    /*　画面サイズが768px以下読み込む　*/
    display: none;
  }
}

.texture-content {
  padding-top: 15rem; // 上の間隔を空ける
}

.texture-title {
  padding-left: 4rem;
  font-size: 150%;

  @media screen and (max-width: 704px) {
    /*　画面サイズが704px以下読み込む　*/
    display: none;
  }
}

.texture-title-mobile {
  padding-left: 1rem;
  font-size: 1.3rem;

  @media screen and (min-width: 704px) {
    /*　画面サイズが704px以下読み込む　*/
    display: none;
  }
}

.texture-img {
  padding-top: 6rem;
  display: flex;
  justify-content: space-around;

  @media screen and (max-width: 575px) {
    /*　画面サイズが575px以下読み込む　*/
    display: none;
  }
}

.texture-info {
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-around;
}

/* footer */
.footer-content {
  padding-top: 15rem; // 上の間隔を空ける
}
