body {
  background-color: #eeedeb;
}

.navbar-nav {
  padding-left: 1rem;
  font-family: 'Noto Serif Display', serif;
}

.nav-item {
  padding-left: 3rem;
}

.navbar-brand {
  font-family: 'Noto Serif Display', serif;
  pointer-events: none;
  font-weight: bold;
  color: #9dbc98;
  padding-top: 0.8rem;
  padding-left: 0.8rem;
}

.lang {
  padding-left: 30rem;
}

.promotion {
  display: flex;
  justify-content: end;

  @media screen and (max-width: 767px) { 
    /*　画面サイズが767px以下を読み込む　*/
    display: none;
  }
}

/* mobile only表示 */
.mobile-title {
  padding: 4em;
  font-family: 'Noto Serif Display', serif;

  @media screen and (min-width: 768px) { 
    /*　画面サイズが768px以下読み込む　*/
    display: none;
  }

}

.promo-text {
  padding: 4em;
  font-size: 200%;
  font-family: 'Noto Serif Display', serif;
}
