body {
  background-color: #eeedeb;
  font-family: "Noto Serif Display", "Gotu", serif;
}

/* header */
.navbar-nav {
  padding-left: 1rem;
}

.nav-item {
  padding-left: 3rem;
}

.navbar-brand {
  font-weight: bold;
  color: #9dbc98;
  padding-top: 0.8rem;
  padding-left: 0.8rem;
}

/* main page */
.handsTitle {
  padding: 2rem;
}
